.menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
  
}

.menu li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1;
}

.coming-soon div{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.welcome {
    color: blue;
}