@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lora");

body {
  margin: 0;
  font-family: 'Poppins' ; 
  background-color: #1B1B1B;
  color: #F8EFD4;
}

div {
  margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}